.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004aad;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  height: 80px;
  cursor: pointer;
}

.nav {
  display: flex;
}

.nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #004aad;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
